{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'myapp/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'myapp/responsive.css' %}">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'myapp/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{% static 'myapp/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'myapp/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bcrypt.js/2.4.3/bcrypt.min.js"></script>
      <style>
         .footer_lorem_text1 a {
             color: white; /* เปลี่ยนสีข้อความลิงก์เป็นขาว */
             text-decoration: none; /* เอาการเส้นใต้ข้อความลิงก์ออกไป */
         }
     </style>
      {% block title %}
      {% endblock %}
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="logo"><a href="{% url 'main' %}"><img src="{% static 'image/logo.png' %}"></a></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About us</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'product' %}">Product</a>  
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'hire' %}">HIRE</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                     </li>
                  </ul>
                  <div>
                     {% if request.session.username %}
                        <p>
                           Welcome, {{ request.session.username }} 
                           <a href="{% url 'editprofile' %}">
                              <i class="fa-solid fa-user fa-2xl"></i>
                           </a>
                        </p>
                     {% else %}
                        <p>Guest</p>
                     {% endif %}
                 </div>                                                     
                 <div class="nav-item">
                  <ul>
                     <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout-button" title="Logout">
                            <i class="fa-solid fa-right-from-bracket fa-2xl logout-icon" style="margin-left: 10px;"></i>
                        </button>
                    </form>
                    
                  </ul>
              </div>
            </div>
         </nav>
      </div>
   </div>
      <!-- header section end -->
      <div>
        {% block content %}
        {%endblock%}
      </div>
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="fooer_logo"><img src="{% static 'image/footer-logo.png' %}"></div>
                  <p class="footer_lorem_text">Our company produces and installs booths, organizes event booths, manufactures interior decorations, creates stage sets, handles interior decorations, manages events, constructs structures
                  </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="customer_text">LET US HELP YOU</h1>
                  <p class="footer_lorem_text">We, the team at The Winner Interiors & Advertising, pay close attention to every detail in our work, being thorough and agile
                  </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="customer_text">INFORMATION</h1>
                  <p class="footer_lorem_text1">
                      <a href="{% url 'main' %}">Home</a><br>
                      <a href="{% url 'about' %}">About Us</a><br>
                      <a href="{% url 'product' %}">Product</a><br>
                      <a href="{% url 'hire' %}">Hire</a><br>
                      <a href="{% url 'contact' %}">Contact</a><br>
                  </p>
              </div>              
               <div class="col-lg-3 col-sm-6">
                  <h1 class="customer_text">OUR Design</h1>
                  <p class="footer_lorem_text">decorates dessert shops, decorates cake shops, decorates coffee shops, showcases products, creates settings for activities, decorates for occasions, builds sets, handles various ceremonies, and creates product showcase booths
                  </p>
               </div>
            </div>
            <div class="input-group mb-3">
            </div>
         </div>
      </div>
      <!--  footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
      <div class="container">
         <div class="social_icon">
            <ul>
               <li><a href="#"><img src="{% static 'image/fb-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'image/twitter-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'image/instagram-icon.png' %}"></a></li>
               <li><a href="#"><img src="{% static 'image/linkedin-icon.png' %}"></a></li>
            </ul>
         </div>
         <p class="copyright_text">จัดทำเพื่อการศึกษา 2024</a></p>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <!-- javascript --> 
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>   
      <!-- jQery -->
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <!-- bootstrap js -->
      <script src="{% static 'js/bootstrap2.js' %}"></script>
      <!-- slick slider -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
      <!-- custom js -->
      <script src="{% static 'js/custom3.js' %}"></script>
   </body>
</html>