{% extends "base.html" %}
{% load static %}

{% block title %}
<title> ติดต่อเรา </title>
{%endblock%}

{% block content %}
<!-- ส่วนของบูธ -->
<div class="projects_section layout_padding">
    <div class="container">
       <h1 class="our_text">Booth</h1>
       <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
             <div class="carousel-item active">
                <div class="projects_section2">
                   <div class="container_main2">
                      <div class="row">
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im1.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im2.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im3.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="projects_section2">
                   <div class="container_main1">
                      <div class="row">
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im4.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im5.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im6.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="projects_section2">
                   <div class="container_main1">
                      <div class="row">
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im7.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im8.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im9.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
          </a>
       </div>
    </div>
 </div>
 <!-- หมดส่ววยของบูธ -->
 <!-- ส่วนของออกแบบภายใน -->
 <div class="projects_section layout_padding">
    <div class="container">
        <h1 class="our_text">interior</h1>
        <div id="interior_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
             <div class="carousel-item active">
                <div class="projects_section2">
                   <div class="container_main2">
                      <div class="row">
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im1.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im2.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im3.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="projects_section2">
                   <div class="container_main1">
                      <div class="row">
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im4.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im5.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im6.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="projects_section2">
                   <div class="container_main1">
                      <div class="row">
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im7.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im8.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                         <div class="col-sm-4">
                            <div class="container_main1">
                               <img src="{% static 'image/im9.jpg' %}" alt="Avatar" class="image" style="width:100%">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
		  <a class="carousel-control-prev" href="#interior_slider" role="button" data-slide="prev">
		  <i class="fa fa-angle-left"></i>
		  </a>
		  <a class="carousel-control-next" href="#interior_slider" role="button" data-slide="next">
		  <i class="fa fa-angle-right"></i>
		  </a>
       </div>
    </div>
 </div>
 <!-- ส่วนของออกแบบภายในจบ -->
{%endblock%}